nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.menu {
    display: flex;
    align-items: center;
}

li {
    padding-right: 10px;
    list-style-type: none;
}

button {
    display: flex;
    padding: 10px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 2.784px;
    background: #4CAF4F;
    border: none;
    color: white;

}
a{
    text-decoration: none;
    color: black;
}
.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
    background: #F5F7FA;
}
.green_color_text{
    color:  #4CAF4F;
}
h2 {
    text-align: center;
    color: var(--Neutral-D_Grey, #4D4D4D);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 30.627px; /* 122.222% */
}
p {
    text-align: center;
    color: var(--Neutral-Grey, #717171);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.706px; /* 150% */
    
}
div img.dot {
    align-items: center;
}
section div.clientlogos {
    text-align: center;
}
p.man {
    color: var(--Neutral-D_Grey, #4D4D4D);
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 30.627px; /* 122.222% */
}
div h5.who {
    color: var(--Neutral-Grey, #717171);
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px; /* 150% */
}
main.su ul {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding-inline: 30px;
}
main.su ul li {
    display: flex;
    padding: 16.706px 22.274px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5.569px;
    background: var(--Neutral-White, #FFF);
    box-shadow: 0px 1.392px 2.784px 0px rgba(171, 190, 209, 0.20);
}
main.su h2 p {
    color: var(--Neutral-Grey, #717171);
    text-align: center;
    font-family: Inter;
    font-size: 5px;
    font-style: normal;
    font-weight: 200;
    line-height: 0px; /* 142.857% */
}